/build
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64

scenes/cubemap/CornellBox/light.txt
scenes/cubemap/CornellBox/transport.txt

scenes/cubemap/GraceCathedral/light.txt
scenes/cubemap/GraceCathedral/transport.txt

scenes/cubemap/Indoor/light.txt
scenes/cubemap/Indoor/transport.txt

scenes/cubemap/Skybox/light.txt
scenes/cubemap/Skybox/transport.txt
scenes/prt.exr
scenes/prt.png